:root {
    --sidebarblue:#3b82f6;
}

* {
    font-family: 'Cinzel', serif;
    font-family: 'Nunito', sans-serif;
}

body, html {
height: 99vh;
width: 99vw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 4fr / minmax(300px,1fr) 5fr ;
    overflow: hidden;
}

 /* Sidebar sections Elements */

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:var(--sidebarblue);
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 4fr;
    grid-template-columns: 1fr 4fr;
    color: white;
    text-align: center;
    padding-top: 24px;
}

ul {
    list-style-type: none;
}

.nav {
    grid-row: 2/3;
}

.nav, .settings {
    grid-column:2/3 ;
    padding-left: 28px;
    margin-top: 0;
    font-size: 1.5em;
    text-align: left;
}


.nav > li, .settings > li {
    margin: 14px 0 ;
}

.settings {
    grid-row: 3/4;
}

.navlogos, .settingslogos {
    grid-column: 1/2;
    margin: 16px 0;
    margin-top: 0;
    padding-left: 20px;
}

.navlogos {
    grid-row: 2/3;
}

.settingslogos {
    grid-row: 3/4;
}

.navlogos > li, .settingslogos > li {
    margin: 16px 0;
}

.sidelogos {
    height: 1.5em;
    width: 1.5em;
}

.sidebartitle {
    display: flex;
    grid-column: 1/3;
}

.dashlogo {
    grid-column: 1/2;
    text-align: center;
    padding-left: 20px;
}

.dashlogo > img {
    height: 3em;
    width: 3em;
}

.dashtitle {
    grid-column: 2/3;
    text-align: left;
    font-size: 2em;
    padding-left: 24px;
}

.dashlogo, .dashtitle {
    margin-top: 16px;
}

.nav > li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Header section elements*/

.header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: left;
    justify-content: left;
    align-items: left;
}

.searchbar {
    height: 2em;
    width: 40vw;
    border-radius: 0.75em;
    background-color: #dbeafe;;
    border: none;
}

.magnify {
    height: 2em;
    width: 2em;
}

.search {
    display: flex;
    gap: 2em;
    margin-left: 2em;
}

.greeting {
    display: flex;
    align-items: center;
    gap: 1em;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 2em;
}

#greeting, #profile-info {
    font-weight: 700;
    margin: 0;
}

.greettext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-info {
    font-size: 2em;
}

.profilepic {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.headerbuttons {
    display: flex;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 4em;
}

button {
    height: 2em;
    width: 6em;
    font-size: 1em;
    color: var(--sidebarblue);
    border: solid 2px var(--sidebarblue);
    border-radius: 1.5em;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
/* Information section elements*/

.information {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #dbeafe;
    box-shadow: inset 2px 2px 4px rgb(221, 216, 216);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects {
    grid-column: 1/3;
    display: grid;
    grid-template: repeat(3, 300px) / repeat(2, 400px);
    gap: 50px;
    margin-left: 1em;
    margin-top: 1em;
}

.announcements {
    grid-column: 3 / 4;
}

.card {
height: 225px;
min-width: 300px;
border-left: solid 6px #ea580c;
background-color: white;
border-radius:16px;
position: relative;
padding-top: 2em;
padding-left: 1em;
}

.card > h2, .card > p {
    margin-bottom: 0;
    margin-top: 2px;
}

.cardlogos{
    height: 1.75em;
    width: 1.75em;
}

.cardicons {
    display: flex;
    gap: 1.75em;
    position: absolute;
    top: 13em;
    left: 13em;
}