body, html {
height: 99vh;
width: 99vw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 4fr / minmax(250px,1fr) 5fr ;
    text-align: center;
    overflow: hidden;
}

.header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
}

.information {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #dbeafe;
    box-shadow: inset 2px 2px 4px rgb(221, 216, 216);
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #3b82f6;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 4fr;
    grid-template-columns: 1fr 4fr;
    color: white;
    text-align: center;
    padding-top: 24px;
}

ul {
    list-style-type: none;
}

.nav {
    grid-row: 2/3;
}

.nav, .settings {
    grid-column:2/3 ;
    padding-left: 28px;
    margin-top: 0;
    font-size: 1.5em;
    text-align: left;
}


.nav > li, .settings > li {
    margin: 17px 0 ;
}

.settings {
    grid-row: 3/4;
}

.navlogos, .settingslogos {
    grid-column: 1/2;
    margin: 16px 0;
    margin-top: 0;
    padding-left: 20px;
}

.navlogos {
    grid-row: 2/3;
}

.settingslogos {
    grid-row: 3/4;
}

.navlogos > li, .settingslogos > li {
    margin: 16px 0;
}

.sidelogos {
    height: 1.5em;
    width: 1.5em;
}

.sidebartitle {
    display: flex;
    grid-column: 1/3;
}

.dashlogo {
    grid-column: 1/2;
    text-align: center;
    padding-left: 20px;
}

.dashlogo > img {
    height: 3em;
    width: 3em;
}

.dashtitle {
    grid-column: 2/3;
    text-align: left;
    font-size: 2em;
    padding-left: 24px;
}

.dashlogo, .dashtitle {
    margin-top: 16px;
}
