body, html {
height: 99vh;
width: 99vw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr ;
    text-align: center;
}

.header {
    background-color: white;
    box-shadow: 0 4px 2px -2px black ;
    grid-column: 2/3;
    grid-row: 1/2;
}

.information {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #dbeafe;

}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #3b82f6;

}